.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-heading {
  font-size: 36px;
  margin-bottom: 20px;
}

.welcome-description {
  font-size: 18px;
  margin-bottom: 30px;
}

.signup-button,
.login-button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #1976d2;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}

.signup-button:hover,
.login-button:hover {
  background-color: #145ca8;
}
